## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.

* Use Pandas to read your cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * You will need a class for `Measurement` and for `Station`.

  * Make sure to define your primary keys.

* Once you have your ORM classes defined, create the tables in the database using `create_all`.

---

In [1]:
!rm hawaii.sqlite

In [2]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [4]:
conn = engine.connect()

In [5]:
Base = declarative_base()

In [6]:
class Data(Base):
    __tablename__ = 'hawaii_data'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Integer)
    prcp = Column(Float)
    tobs = Column(Integer)
    month = Column(Integer)
    day = Column(Integer)
    year = Column(Integer)
    date_format = Column(DateTime)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
Base.metadata.create_all(engine)

In [8]:
data = pd.read_csv('datafile.csv', parse_dates=data['date_format'])

In [9]:
data.head()

,station,name,latitude,longitude,elevation,prcp,tobs,month,day,year,date_format
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.080000,65,1,1,2010,2010-01-01
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,63,1,2,2010,2010-01-02
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,74,1,3,2010,2010-01-03
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.000000,76,1,4,2010,2010-01-04
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,0.040086,73,1,6,2010,2010-01-06

***
### Problem with `date_format` when reading in CSV using Pandas
When reading in the `csv` file into Pandas, I noticed that the data types was not being imported correctly.  Namely, we noticed that the `date_format` column was being read in as a normal `object` and not a `datetime` object. This caused problems when inserting the data into the SQLite database since you'll get an error that reads `SQLite DateTime type only accepts Python datetime and date objects as input.`

To get around this, I forced the data type of `date_format` to a `datetime` when importing the file using Pandas.

The cell below shows that the type of `date_format` is an `object`, however two cells below show that the type of `date_format` is not a `datetime` object.

More can be found [here](https://www.sqlite.org/datatype3.html) and [here](https://stackoverflow.com/questions/1933720/how-do-i-insert-datetime-value-into-a-sqlite-database).
***

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 11 columns):
station        19550 non-null object
name           19550 non-null object
latitude       19550 non-null float64
longitude      19550 non-null float64
elevation      19550 non-null float64
prcp           19550 non-null float64
tobs           19550 non-null int64
month          19550 non-null int64
day            19550 non-null int64
year           19550 non-null int64
date_format    19550 non-null object
dtypes: float64(4), int64(4), object(3)
memory usage: 1.6+ MB

In [11]:
data['date_format'] = pd.to_datetime(data['date_format'])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 11 columns):
station        19550 non-null object
name           19550 non-null object
latitude       19550 non-null float64
longitude      19550 non-null float64
elevation      19550 non-null float64
prcp           19550 non-null float64
tobs           19550 non-null int64
month          19550 non-null int64
day            19550 non-null int64
year           19550 non-null int64
date_format    19550 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 1.6+ MB

In [13]:
data_dict = data.to_dict(orient='records')

In [14]:
data_dict[:5]

[{'date_format': Timestamp('2010-01-01 00:00:00'),
  'day': 1,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.08,
  'station': 'USC00519397',
  'tobs': 65,
  'year': 2010},
 {'date_format': Timestamp('2010-01-02 00:00:00'),
  'day': 2,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 63,
  'year': 2010},
 {'date_format': Timestamp('2010-01-03 00:00:00'),
  'day': 3,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 74,
  'year': 2010},
 {'date_format': Timestamp('2010-01-04 00:00:00'),
  'day': 4,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.0,
  'station': 'USC00519397',
  'tobs': 76,
  'year': 2010},
 {'date_format': Timestamp('2010-01-06 00:00:00'),
  'day': 6,
  'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'month': 1,
  'name': 'WAIKIKI 717.2, HI US',
  'prcp': 0.040085836909871206,
  'station': 'USC00519397',
  'tobs': 73,
  'year': 2010}]

In [15]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [16]:
table = sqlalchemy.Table('hawaii_data', metadata, autoload=True)

In [17]:
conn.execute(table.delete())

In [18]:
conn.execute(table.insert(), data_dict)

In [25]:
conn.execute("select SUM(prcp) from hawaii_data WHERE (date_format BETWEEN '2010-01-01' AND '2010-01-02')").fetchall()
#https://stackoverflow.com/questions/1469689/select-mysql-query-between-date

[(1.06,)]

In [26]:
conn.execute("select * from hawaii_data WHERE (date_format BETWEEN '2010-01-01' AND '2010-01-02')").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3, 0.08, 65, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (2725, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, 0.28, 67, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (9008, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, 0.21, 72, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (9519, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5, 0.15, 75, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (12188, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9, 0.15, 70, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (14960, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9, 0.05, 66, 1, 1, 2010, '2010-01-01 00:00:00.000000'),
 (16939, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4, 0.14, 73, 1, 1, 2010, '2010-01-01 00:00:00.000000')]

In [27]:
0.08 + 0.28 + 0.21 + 0.15 + 0.15 + 0.05 + 0.14

1.06